.w-50{
    margin: auto;
}
label{
    color: blue;
    font-size: 20px;
    font-weight: 700;
}
.form-check-label i{
    color: transparent;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    line-height: 1.55rem;
    font-size: 15px;
    border: 4px solid blue;
    text-align: center;
    border-radius: 50%;
    transition: all .5s;
}
.fa-circle:before{
    transform: translateY(-50%);
}
.form-check-input:checked ~ .form-check-label i{
    color: blue;
    background-color: aquamarine;
}



.nhapKetNoi{
    display: none;
}
.nhapKetNoi label{
    font-size: 15px;
}
#checkDoanhNghiep:checked ~ .nhapKetNoi{
    display: block;
}
.form-check-input:checked ~ label{
    opacity: 1;
}
.check{
    display: flex;
    justify-content: space-around;
}
.checkJr {
    width: 50%;
}
.checkJr>label {
    opacity: 0.5;
}
.form-check-label:hover{
    opacity: 1;
}

input[type=radio]{
    display: none;
}
form{
    background-color: aquamarine;
}
.form-control{
    width: 80%;
}